@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-gradient {
  background-size: 200% 200%;
  background-image: linear-gradient(
    -45deg,
    #eef2f3,
    #dbeafe,
    #e0f2f1,
    #eef2f3
  );
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #F5F5F7; /* A very light gray background */
  color: #333333; /* Dark gray for general text */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
